.App {
  margin-left: 30%;
  margin-right: 30%;
}
/*       style={{
        display: "flex",
        backgroundColor: props.backgroundColor,
        borderRadius: "5px",
        margin: "5px",
        justifyContent: "center"
      }} */
